<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Orchestra</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" href="/stylesheets/font.css" />
	<link rel="stylesheet" href="/stylesheets/orchestra.css" />
	<link rel="stylesheet" href="/stylesheets/fullcalendar.css?v=1">
</head>

<body>
<!--============================= Page Body =================================-->

<div id="topbar">
	<div id="logo">
		<img src="/images/bi_white.png" />
	</div>
</div>
<div class="container">
	<div class="container-inner">
		<div id="group-calendar">
		</div>
		<div id="member-info" class="fancy-scrollbar">
			<div class="my-profile">
				<div class="profile-pic"></div>
				<%if(result.user_info.length > 0) {%>
				<div class="name"><%= result.user_info[0].first_name %> <%= result.user_info[0].last_name %></div>
			</div>
			<%}%>
			<!--div class="info-menu">
				<ul>
					<li><a href="#">Profile</a></li>
					<li><a href="#">My Account</a></li>
					<li><a href="#">Notice</a></li>
				</ul>
			</div-->
			<div class="group-list-box">
				<ul>
					<li><span class="my-groups">My Groups</span> <a href="javascript:newGroupPopup();" class="new-group">New Group...</a></li>
					<% 
						for(var i=0; i<result.group_info.length; i++) {
							var user_list = result.group_info[i].user_list.split(",");
					%>
							<li class="group-list" idx="<%= result.group_info[i].idx %>">
								<div class="group-name group-<%= i+1 %>"><%= result.group_info[i].group_name %></div>
								<div class="members">
									<%
										for(var j=0; j<user_list.length; j++) {
											if( j === 0 ) {
											%>
												<span class="team-leader"><%= user_list[j].toString().trim() %></span>
											<%
											} else if( j === (user_list.length-1) ) {
											%>
												<span class="team-member"><%= user_list[j].toString().trim() %></span>
											<%	
											} else {
											%>
												<span class="team-member"><%= user_list[j].toString().trim() %>,</span>
											<%	
											}
										}
									%>
								</div>
							</li>
					<% } %>
				</ul>
			</div>
		</div>
		<div id="light-popup">
			<div class="light-popup-header">
				<span class="light-popup-title">Create Group</span>
				<a href="javascript:newGroupPopdown();" class="light-popup-close-btn"><span class="icon-close"></span></a>
			</div>
			<div class="light-popup-body">
				<form id="create-new-group-form" name="create-new-group-form" onsubmit="createNewGroup();return false;">
				<label for="group_name">Group Name</label>
				<input id="group_name" name="group_name" type="text" placeholder="Enter Group Name">
				<label for=" Organization">Organization</label>
				<div class="contents">Organizations make sharing and working within a group even easier. It doesn’t look like you are a member of any organizations</div>
				<input type="button" onclick="javascript:createNewGroup();" value="Create" class="light-popup-submit">
				</form>
			</div>
		</div>
	</div>
</div>

<!--============================= /Page Body ================================-->

	<!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script>window.jQuery.ui || document.write('<script src="/javascripts/jquery.ui.min.js"><\/script>')</script>
    <!-- 3: if jQuery was loaded in compatibility mode, where you have to use the
            long 'jQuery(...)' instead of '$(...)' (Wordpress does this), revert
            to to "classic" jQuery behavior -->
    <script>if ($ === undefined) $ = jQuery</script>
	<!-- /jQuery -->
	<script src="/javascripts/jquery.fullcalendar.min.js"></script>	
	<script src="/javascripts/jquery.form.js"></script>
	<script src="/javascripts/config.js"></script>	
	<script type="text/javascript">
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		var events = [
		<% 
			var g_idx = 0;
			var g_name = "";
			var date, start_date, end_date
			for(var i=0; i<result.meeting.length; i++) {
				if( g_name !== result.meeting[i].group_name )
				{
					g_name = result.meeting[i].group_name;
					g_idx++;
				}
				date = new Date(result.meeting[i].date);
				if( date != "Invalid Date" && result.meeting[i].start_time !=null && result.meeting[i].end_time !=null )
				{
					var s_t = result.meeting[i].start_time.toString().split(":");
					var e_t = result.meeting[i].end_time.toString().split(":");
					var time = date.getTime();
					var start_time = time + (s_t[0]*60*60 + s_t[1]*60 + s_t[2]*1)*1000 - (60*60*9*1000);
					var end_time = time + (e_t[0]*60*60 + e_t[1]*60 + e_t[2]*1)*1000 - (60*60*9*1000);
		%>
				{
					title: '<%=result.meeting[i].subject%>',
					start: new Date(<%=start_time%>),
					end: new Date(<%=end_time%>),
					editable: false,
					skinClass: "back-color-<%=g_idx%>"
				},
		<%
				}
			}
		%>
		];

		$(document).ready(function(){
			setup_calendar();
			initClickGroup();
		})

		function initClickGroup()
		{
			$("#member-info .group-list-box .group-list").on("click",function(){
				var idx = $(this).attr("idx");
				location.href="/page/meeting_list?group="+idx;
			});
		}
		function createNewGroup()
		{
			var $form = $('form[name=create-new-group-form]');
			var Options = {
				url: '/page/new_group',
				type: 'POST',
				dataType: 'json',
				resetForm: false,
				beforeSubmit: function(){},
				success: function(json) {
					var html, len;
					if( json.result == "failed" )
					{
						//$(".alert-div").html("");
						//$("."+json.target+"-alert").html(json.msg);
						$("input[name="+json.target+"]", $form).focus();
					}
					else if( json.result == "successful" )
					{
						len = $("#member-info .group-list").length + 1;
						html = '<li class="group-list" idx="'+json.idx_group+'"><div class="group-name group-'+len+'">'+json.group_name+'</div>';
						html += '<div class="members"><span class="team-leader">'+json.user_name+'</span></div></li>';
						$("#member-info .group-list-box ul").append(html);
						initClickGroup();
						newGroupPopdown();
					}
				}
			};
			$form.ajaxSubmit(Options);
		}
		function newGroupPopup()
		{
			var w = $(window).width();
			$("#light-popup").css({
				display:"block",
				top:"200px",
				left: ((w/2)-155)+"px"
			});
			$("#light-popup #group_name").focus();
		}
		function newGroupPopdown()
		{
			$("#light-popup").css({
				display:"none",
				top:"0px",
				left:"0px"
			});
			$("#light-popup #group_name").val("");
		}
	</script>
<!-- /Javascript -->

</body>
</html>
