	<div class="meeting_result_box">
		
		<div class="container">
			<div class="header">
				<div id="result_title_box">
					<div class="result_icon">
						<img class="result_icon_button" src="/images/meeting_result/minute.png" />
						<img class="result_icon_button" src="/images/meeting_result/share.png" />
						<img class="result_icon_button" id="result_icon_button_exit" src="/images/meeting_result/exit.png" onClick="hideMeetingResultWindow()"/>
					</div>
				</div>
			</div>
			<div class="body" id="result_contents_box">
				<div class="result_contents">
					<div class="meta">
					<%
						if( result.meeting_result.length > 0 ) { 
					%>
						<div class="result_title">회의 주제 - <%= result.meeting_result[0].subject %></div>
						<div class="result_subject">회의 목표 - <%= result.meeting_result[0].goal %></div>
						<div class="result_time">
							<img class="result_contents_button" src="/images/meeting_result/clock.png" />
							<div id="result_time_use">01:00:00</div>
							<div id="result_time_set">/ 00:50:00</div>	
							<div id="result_time_clock">(<%= result.meeting_result[0].start_time %> - <%= result.meeting_result[0].end_time %>)</div>	
						</div>
						<div class="result_evaluate">
							<%
								var satisfaction = 0;
								var ft_appraisal = 0;
								var mvp_array = {};
								var mvp = { user:"", vote:0 };
								for(var i=0; i<result.meeting_result_appraisal.length; i++) {
									satisfaction += result.meeting_result_appraisal[i].satisfaction;
									ft_appraisal += result.meeting_result_appraisal[i].ft_appraisal;
									if( typeof(mvp_array[result.meeting_result_appraisal[i].mvp]) === "undefined" ) 
										mvp_array[result.meeting_result_appraisal[i].mvp] = 1;
									else
										mvp_array[result.meeting_result_appraisal[i].mvp]++;
								}
								satisfaction = Math.floor(satisfaction / i);
								ft_appraisal = Math.floor(ft_appraisal / i);
								for(key in mvp_array)
								{
									if( mvp['vote'] < mvp_array[key] )
									{
										mvp['user'] = key;
										mvp['vote'] = mvp_array[key];
									}
								}
							%>
							<img class="result_contents_button" src="/images/meeting_result/badge.png" />
							<div id="result_eval_meeting">Meeting</div>
							<div id="meeting_val" style="display: none;"><%=satisfaction%></div>
							<div id="meeting_rating"></div>
							<div id="result_eval_proceed">Proceeding</div>
							<div id="proceeding_val" style="display: none;"><%=ft_appraisal%></div>
							<div id="ft_rating"></div>
							<div id="result_eval_best">Best Member</div>
							<div id="best_member_val"><%=mvp['user']%></div>
						</div>
							
					<%
						}
					%>
					<br>
					</div>
					<div class="chart">
						<div id="chart_title_box">Chart</div>
						<div id="user-list-chart" class="bar-chart" style="width:200px;height:200px;"></div>
						<div id="placeholder" style="width:600px;height:300px;display:none;"></div>
						<!--<div id="" class=" input_chart" style="display:none;"></div> -->
					</div>
					<div class="agenda">
						<!--
						<% for(var i=0; i<result.meeting_result.length; i++) { %>
							<div><%=result.meeting_result[i].agenda_subject%></div>
							<div><%=result.meeting_result[i].agenda_goal%></div>
							<div><%=result.meeting_result[i].agenda_start_time%> ~ <%=result.meeting_result[i].agenda_end_time%></div>
							<div><%=result.meeting_result[i].user_list%></div>
						<% } %>
						-->
						<div class="agenda_box">
							<div class="agenda_title_box">
								<div class="agenda_subject">Opening</div>
								<div class="agenda_goal">Ice Breaking, 회의 주제 및 목표 전달, Ground Rule 작성</div>
							</div>
						</div>
						<div class="agenda_box">
							<div class="agenda_title_box">
								<div class="agenda_subject">문제 정의</div>
								<div class="agenda_goal">문제 정의</div>
							</div>
						</div>
						<div class="agenda_box">
							<div class="agenda_title_box">
								<div class="agenda_subject">문제 분석</div>
								<div class="agenda_goal">문제의 원인 분석</div>
							</div>
						</div>
						<div class="agenda_box">
							<div class="agenda_title_box">
								<div class="agenda_subject">아이디어 도출</div>
								<div class="agenda_goal">문제 해결을 위하 아이디어 도출</div>
							</div>
						</div>
						<div class="agenda_box">
							<div class="agenda_title_box">
								<div class="agenda_subject">솔루션 도출</div>
								<div class="agenda_goal">아이디어 활용하여 솔루션 도출</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
