<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Orchestra</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" href="/stylesheets/font.css" />
	<link rel="stylesheet" href="/stylesheets/orchestra.css" />
	<link rel="stylesheet" href="/stylesheets/fullcalendar.css?v=1">
	<link rel="stylesheet" href="/stylesheets/bootstrap_new.css" />
	<link rel="stylesheet" href="/stylesheets/datepicker.css?v=1">
	<link rel="stylesheet" href="/stylesheets/select2.css?v=1">
</head>

<body>
<!--============================= Page Body =================================-->

<div id="topbar">
	<div id="logo">orchestra</div>
	<span id="group-title"><%= result.group_info[0].name %></span>
	<div id="top-menu">
		<ul>
			<li>NOTICE</li>
			<li><a href="/page/group_select">GROUP</a></li>
			<li>MY ACCOUNT</li>
			<li>LOG OUT</li>
		</ul>
	</div>
</div>
<div class="container">
	<div id="menu">
		<ul>
			<li id="start-btn">START</li>
			<li id="meeting-list-btn">MEETING<br>LIST</li>
			<li id="group-info-btn" onclick="javascript:alert('준비중')">GROUP<br>INFO</li>
			<li id="need-any-help-btn" onclick="javascript:alert('준비중')">NEED<br>ANY<br>HELP</li>
		</ul>
	</div>
    <div id="meeting-calendar">
    </div>
	<div id="meeting-list">
		<ul>
			<% 
				for(var i=0; i<result.meeting_list.length; i++) {
					var idx = result.meeting_list[i].idx_meeting;
			%>
					<li class="meeting-node" idx="<%= idx %>">
						<div class="color-bar back-color-<%=i+1%>"></div>
						<ul>
							<li class="subject"><%= result.meeting_list[i].subject %></li>
							<li class="date color-<%=i+1%>"><%= result.meeting_list[i].date.toDateString() %> <%= result.meeting_list[i].start_time %></li>
							<li class="time"><%= result.meeting_list[i].start_time %> ~ <%= result.meeting_list[i].end_time %></li>
							<li class="member">
								<%
									var len = result.meeting_user[idx].length;
									for(var j=0; j<len; j++) {
										var name = result.meeting_user[idx][j].first_name + result.meeting_user[idx][j].last_name;
										if( len === (j+1) ) {
										%>
											<span><%= name.trim() %></span>
										<%
										} else {
										%>
											<span><%= name.trim() %>,</span>
										<%	
										}
									}
								%>
							</li>
						</ul>
					</li>
			<% } %>
		</ul>		
	</div>
</div>
<div id="myModal" class="modal hide fade">
	<!-- dialog contents -->
	<div class="modal-body">Hello world!</div>
	<!-- dialog buttons -->
	<div class="modal-footer"><a href="#" class="btn primary">OK</a></div>
</div>
<!--============================= /Page Body ================================-->

  <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script>window.jQuery.ui || document.write('<script src="/javascripts/jquery.ui.min.js"><\/script>')</script>
    <!-- 3: if jQuery was loaded in compatibility mode, where you have to use the
            long 'jQuery(...)' instead of '$(...)' (Wordpress does this), revert
            to to "classic" jQuery behavior -->
    <script>if ($ === undefined) $ = jQuery</script>
  <!-- /jQuery -->
	<script src="/javascripts/jquery.fullcalendar.min.js"></script>	
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/bootbox.min.js"></script>
	<script src="/javascripts/bootstrap.wizard.min.js"></script>
	<script src="/javascripts/bootstrap.timepicker.min.js"></script>
	<script src="/javascripts/bootstrap.datepicker.min.js"></script>
	<script src="/javascripts/select2.js"></script>
	<script src="/javascripts/jquery.uniform.js"></script>
	<script src="/javascripts/jquery.form.js"></script>
	<script src="/javascripts/orchestra.js"></script>
	<script src="/javascripts/config.js"></script>
	<script type="text/javascript">
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		var events = [
		<% 
			for(var i=0; i<result.meeting_list.length; i++) {
			var date = new Date(result.meeting_list[i].date);
		%>
			{
				title: '<%=result.meeting_list[i].subject%>',
				start: new Date(<%=date.getFullYear()%>, <%=date.getMonth()%>, <%=date.getDate()%>),
				end: null,
				editable: false
			},
		<%}%>
		];

		$(document).ready(function(){
			setup_calendar();
			init_click_group();
			init_color_bar();
		})

		function init_click_group()
		{
			$("#meeting-list .meeting-node").click(function(){
				var idx = $(this).attr("idx");
				location.href="/page/meeting?idx_meeting="+idx;
			});
		}

		function init_color_bar()
		{
			var h = $(".color-bar").parent().height();
			$(".color-bar").height(h);
		}
	</script>
<!-- /Javascript -->

</body>
</html>
