<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Orchestra</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" href="/stylesheets/font.css" />
	<link rel="stylesheet" href="/stylesheets/orchestra.css" />
	<link rel="stylesheet" href="/stylesheets/fullcalendar.css?v=1">
	<link rel="stylesheet" href="/stylesheets/bootstrap_new.css" />
	<link rel="stylesheet" href="/stylesheets/datepicker.css?v=1">
	<link rel="stylesheet" href="/stylesheets/select2.css?v=1">
	<link rel="stylesheet" href="/stylesheets/theme.css">
</head>

<body>
<!--============================= Page Body =================================-->

<div id="topbar">
	<div id="logo">orchestra</div>
	<span id="group-title"><%= result.group_info[0].name %></span>
	<div id="top-menu">
		<ul>
			<li>NOTICE</li>
			<li><a href="/page/group_select">GROUP</a></li>
			<li>MY ACCOUNT</li>
			<li>LOG OUT</li>
		</ul>
	</div>
</div>
<div class="container">
	<div id="menu">
		<ul>
			<li id="start-btn">
				<div class="make">START</div>
				<div class="tool list">
					LIST
					<img src="/images/list_icon.png">
				</div>
				<div class="tool postit">
					POSTIT
				</div>
				<div class="tool mindmap">MindMap</div>
				<div class="tool matrix">Matrix</div>
				<div class="tool vote">Vote</div>
			</li>
			<li id="meeting-list-btn">MEETING<br>LIST</li>
			<li id="group-info-btn" onclick="javascript:alert('준비중')">GROUP<br>INFO</li>
			<li id="need-any-help-btn" onclick="javascript:alert('준비중')">NEED<br>ANY<br>HELP</li>
		</ul>
	</div>
    <div id="meeting-calendar">
    </div>
	<div id="meeting-list">
		<ul class="meeting-list-btn-wrap">
			<li><a class="add-member-btn" href="javascript:initAddMemberPopup();">Add Memebers...</a>
		</ul>
		<ul>
			<% 
				for(var i=0; i<result.meeting_list.length; i++) {
					var idx = result.meeting_list[i].idx_meeting;
			%>
					<li class="meeting-node" idx="<%= idx %>" status="<%=result.meeting_list[i].status%>">
						<div class="color-bar back-color-<%=i+1%>"></div>
						<ul>
							<li class="subject"><%= result.meeting_list[i].subject %></li>
							<li class="date color-<%=i+1%>"><%= result.meeting_list[i].date.toDateString() %> <%= result.meeting_list[i].start_time %></li>
							<li class="time"><%= result.meeting_list[i].start_time %> ~ <%= result.meeting_list[i].end_time %></li>
							<li><%=result.meeting_list[i].status%></li>
							<li class="member">
								<%
									var len = result.meeting_user[idx].length;
									for(var j=0; j<len; j++) {
										var name = result.meeting_user[idx][j].first_name + result.meeting_user[idx][j].last_name;
										if( len === (j+1) ) {
										%>
											<span><%= name.trim() %></span>
										<%
										} else {
										%>
											<span><%= name.trim() %>,</span>
										<%	
										}
									}
								%>
							</li>
						</ul>
					</li>
			<% } %>
		</ul>		
	</div>
</div>
<div id="myModal" class="modal hide fade">
	<!-- dialog contents -->
	<div class="modal-body">Hello world!</div>
	<!-- dialog buttons -->
	<div class="modal-footer"><a href="#" class="btn primary">OK</a></div>
</div>

<div id="light-popup">
	<div class="light-popup-header">
		<span class="light-popup-title">Members</span>
		<a href="javascript:initAddMemberPopdown();" class="light-popup-close-btn"><span class="icon-close"></span></a>
	</div>
	<div class="light-popup-body">
		<input id="member" name="member" type="text" autocomplete="off">
		<div class="contents">
			Search for a person in Orchestra by name or email address, or enter an email address to invite someone new.
		</div>
	</div>
</div>
<!--============================= /Page Body ================================-->

  <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script>window.jQuery.ui || document.write('<script src="/javascripts/jquery.ui.min.js"><\/script>')</script>
    <!-- 3: if jQuery was loaded in compatibility mode, where you have to use the
            long 'jQuery(...)' instead of '$(...)' (Wordpress does this), revert
            to to "classic" jQuery behavior -->
    <script>if ($ === undefined) $ = jQuery</script>
  <!-- /jQuery -->
	<script src="/javascripts/jquery.fullcalendar.min.js"></script>	
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/bootbox.min.js"></script>
	<script src="/javascripts/bootstrap.wizard.min.js"></script>
	<script src="/javascripts/bootstrap.timepicker.min.js"></script>
	<script src="/javascripts/bootstrap.datepicker.min.js"></script>
	<script src="/javascripts/select2.js"></script>
	<script src="/javascripts/jquery.uniform.js"></script>
	<script src="/javascripts/jquery.form.js"></script>
	<script src="/javascripts/orchestra.js"></script>
	<script src="/javascripts/config.js"></script>
	<script type="text/javascript">
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		var events = [
		<% 
			var m_idx = 0;
			var m_name = "";
			for(var i=0; i<result.meeting_list.length; i++) {
				var date = new Date(result.meeting_list[i].date);
		%>
				{
					title: '<%=result.meeting_list[i].subject%>',
					start: new Date(<%=date.getFullYear()%>, <%=date.getMonth()%>, <%=date.getDate()%>),
					end: null,
					editable: false,
					skinClass: "back-color-<%=i+1%>"
				},
		<%}%>
		];

		$(document).ready(function(){
			setup_calendar();
			initClickMeeting();
			initColorBar();
			initMeetingListBtn();
		})

		function initClickMeeting()
		{
			$("#meeting-list .meeting-node").click(function(){
				var idx = $(this).attr("idx");
				var status = $(this).attr("status");
				if( status === "progress" )
					location.href="/page/meeting?idx_meeting="+idx;
				else if( status === "closed" )
					showMeetingResultWindow();
			});
		}

		function initColorBar()
		{
			var h;
			$(".color-bar").each(function(){
				h = $(this).parent().height();
				$(this).height(h);
			});
		}
		function initMeetingListBtn()
		{
			initStartBtn();
			initAddMemberBtn();
			initSearchMemberBtn();
		}	
		function initStartBtn()
		{	
			$("#start-btn .list").click(function(){
				location.href="/page/meeting?tool=list"
			});
			$("#start-btn .postit").click(function(){
				location.href="/page/meeting?tool=postit"
			});
			$("#start-btn .mindmap").click(function(){
				location.href="/page/meeting?tool=mindmap"
			});
			$("#start-btn .matrix").click(function(){
				location.href="/page/meeting?tool=matrix"
			});
			$("#start-btn .vote").click(function(){
				location.href="/page/meeting?tool=vote"
			});
			initStartBtnMouseOver();
			initStartBtnMouseOut();
		};
		function initStartBtnMouseOver()
		{
			$("#start-btn").mouseover(function(e){
				$(this).unbind("mouseover");
				$(".make", this).html("MAKE");
				$(this).animate({
					width: '640'
				}, 500, function(){
					initStartBtnMouseOver();
				});
			})
		}
		function initStartBtnMouseOut()
		{
			$("#start-btn").mouseout(function(e){
				var o = $(this).offset();
				var w = $(this).width();
				var h = $(this).height();
				var b = (o.top >= e.clientY || (h+o.top) <= e.clientY);
				var b2 = (o.left >= e.clientX || (w+10) <= e.clientX);
				if( b || b2 )
				{
					$(this).unbind("mouseout");
					$(".make", this).html("START");
					$(this).animate({
						width: '90'
					}, 640, function(){
						initStartBtnMouseOut();
					});
				}
			});
		}
		var _search_member_flag = false;
		function initSearchMemberBtn()
		{
			var cb = function(t, val)
			{
				if( $(t).val() === val )
				{
					if( _search_member_flag )
					{
						_search_member_flag = false;
						searchMember(val);
					}
				}
			}

			$("input[name=member]").keyup(function(){
				var val = $(this).val();
				_search_member_flag = true;
				window.setTimeout(cb, 500, this, val)
			});
		}
		function searchMember(user_id)
		{
			var html = "";
			if( user_id.length > 0 )
			{
				$.ajax({
					url: '/page/search_user',
					type: 'POST',
					data: {user_id:user_id},
					dataType: 'json',
					success: function(json) {
						if( json.length > 0 )
						{
							html += '<div class="contents-title">Select to add.</div>';
							html += '<ul>';
							for(var i=0; i<json.length; i++)
								html += '<li class="searched-user-node" idx="'+json[i].idx+'">'+json[i].id+'</li>';
							html += '</ul>';
						}
						else
							html = '<div class="no-result">No results</div>';
						$("#light-popup .contents").html(html);
						$("#light-popup .searched-user-node").on("click", function(){
							var idx_user = $(this).attr("idx");
							addMember(idx_user);
						});
					}
				});
			}
			else
			{
				html = '<div class="no-result">No results</div>';
				$("#light-popup .contents").html(html);
			}
		}
		function initAddMemberBtn()
		{
			$(".add-member-btn").toggle(
			function(){
				initAddMemberPopup();
			},function(){
				initAddMemberPopdown();
			});
		}
		function initAddMemberPopup()
		{
			var o = $(".add-member-btn").offset();
			var w = $(window).width();
			$("#light-popup").css({
				display:"block",
				top:o.top+35,
				left:o.left-10
			});
			$("#light-popup #member").focus();
		}
		function initAddMemberPopdown()
		{
			$("#light-popup").css({
				display:"none",
				top:"0px",
				left:"0px"
			});
			$("#light-popup #member").val("");
		}
		function addMember(idx_user)
		{
			$.ajax({
				url: '/page/add_user',
				type: 'POST',
				data: {idx_user:idx_user},
				dataType: 'json',
				success: function(json) {
					initAddMemberPopdown();
				}
			});
		}
	</script>
<!-- /Javascript -->

</body>
</html>
