<%
	/* 시간 설정 */
	var t = 0;
	var limit_time = "00:00:00";
	if( result.meeting.length > 0 )
	{
		var reg_time = result.meeting[0].reg_time;
		var r_t = new Date(reg_time);
		var c_t = new Date();
		t = (c_t.getTime() - r_t.getTime()) / 1000;
		var start_time = result.meeting[0].start_time;
		var end_time = result.meeting[0].end_time;
		var s_t = start_time.toString().split(":");
		var e_t = end_time.toString().split(":");
		var h = ((e_t[0]*1) - (s_t[0]*1));
		if( h < 10 ) h = "0"+ h;
		var m = ((e_t[1]*1) - (s_t[1]*1));
		if( m < 10 ) m = "0"+ m;
		var s = ((e_t[2]*1) - (s_t[2]*1));
		if( s < 10 ) s = "0"+ s;
		limit_time = h + ":" + m + ":" + s;
	}
	/* 시간 설정 */
%>
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <title>Orchestra</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <!-- Bootstrap Styles -->
    <!-- Bootstrap 2.0.4 -->
    <!--link rel="stylesheet" href="/stylesheets/bootstrap.css" /-->
    <!-- Font Awesome 2.0 -->
      <link rel="stylesheet" href="/stylesheets/font-awesome.css" />
      
    <!-- /Font Awesome 2.0 -->
    <!-- IcoMoon font pack -->
      <link rel="stylesheet" href="/stylesheets/icomoon.css" />
      
    <!-- /IcoMoon font pack -->
  <!-- /Bootstrap Styles -->

  <!-- Theme Styles -->

    <!-- Libs Styles -->

      <!-- Google Code Prettyfy - source-code highlighter -->
      <link rel="stylesheet" href="/stylesheets/prettify.css" />
      <!-- jQuery Page Slide Plugin -->
      <link rel="stylesheet" href="/stylesheets/jquery.pageslide.css" />      
      <!-- jQuery Table Sorter Plugin -->
      <link rel="stylesheet" href="/stylesheets/themes.blue.css" />
      <link rel="stylesheet" href="/stylesheets/jquery.tablesorter.pager.css" />

    <!-- /Libs Styles -->

	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">

    <!-- Core Theme Styles -->
    <!-- <link rel="stylesheet/less" href="media/styles/style.less" /> -->
    <link rel="stylesheet" href="/stylesheets/orchestra.css" />

	<!-- full calander css -->
	<link rel="stylesheet" href="/stylesheets/fullcalendar.css?v=1">
	<!-- jarvis widget css -->
	<link rel="stylesheet" href="/stylesheets/jarvis-widgets.css?v=1">
	<!-- theme css -->
	<link rel="stylesheet" href="/stylesheets/theme.css?v=1">


  <!-- /Theme Styles -->

  <!-- CMS/Framework styles & scripts -->
    <!-- ADD HERE -->
  <!-- /CMS/Framework styles & scripts -->

  <!-- Style tweaks to CMS/plugins/widgets -->
    <!-- ADD HERE -->
    <!-- eg.: <link href="media/stylesheets/tweaks.css" rel="stylesheet" /> -->
  <!-- /Style tweaks to CMS/plugins/widgets -->

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements:
       load latest from Google Code, fall back to local if offline -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="media/javascripts/libs/fixes/html5.js"><\/script>')</script>
  <![endif]-->

  <!-- Icons: place favicon.ico and apple-touch-icon.png in the root directory (more: mathiasbynens.be/notes/touch-icons) -->
    <!--
    <link rel="shortcut icon" href="bootstrap/ico/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="media/bootstrap/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="media/bootstrap/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="media/bootstrap/ico/apple-touch-icon-57-precomposed.png" />
    -->
  <!-- /Icons -->

  <!-- Fonts -->
    <!-- ADD HERE -->
  <!-- /Fonts -->

  <!-- LESS -->
  <!-- <script src="media/_tools/less-1.3.0.min.js"></script> -->
<!-- 공통 스크립트 -->
<link rel="stylesheet" href="../javascripts/jqwidgets/styles/jqx.base.css" type="text/css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript" src="../javascripts/jquery.form.js"></script>
<script type="text/javascript" src="../lib/JS3-0.3.2-min.js"></script>
<script type="text/javascript" src="../javascripts/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="../javascripts/jqwidgets/jqxwindow.js"></script>
<script type="text/javascript" src="../javascripts/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="../javascripts/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="../javascripts/jqwidgets/jqxpanel.js"></script>
<script type="text/javascript" src="../javascripts/jqwidgets/jqxtabs.js"></script>
<script type="text/javascript" src="../javascripts/jqwidgets/jqxcheckbox.js"></script>
<script type="text/javascript" src="../javascripts/jqwidgets/jqxexpander.js"></script>
<script type="text/javascript" src="../javascripts/jqwidgets/jqxrating.js"></script>
<!--<script type="text/javascript" src="../javascripts/jqwidgets/jqxcolorpicker.js"></script>-->
<script src="../javascripts/socket.io.js"></script>
<!-- /공통 스크립트 -->
  
  	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
	<!-- 리스트 도구 -->
		<link rel="stylesheet" href="../stylesheets/tools/list.css">
		<script src="../javascripts/tools/list.js"></script>
	<!-- /리스트 도구 -->
  
	<!-- 포스트잇 도구 -->
		<link href="../stylesheets/tools/template.css" rel="stylesheet" type="text/css" />
		<link href="../stylesheets/tools/postit.css" rel="stylesheet" type="text/css" />
		<script type="text/JavaScript" src="../javascripts/jquery.ui.touch-punch.min.js"></script>
		<script type="text/JavaScript" src="../javascripts/jquery.shapeshift.js"></script>	
		<script src="../javascripts/tools/postit.js"></script>
	<!-- /포스트잇 도구 -->

	<!-- 마인드맵 도구 -->
		<link rel="stylesheet" href="../stylesheets/tools/mindmap.css">
		<script src="../javascripts/d3.v3.js"></script>
		<script src="../javascripts/tools/mindmap.js"></script>
	<!-- /마인드맵 도구 -->

	<!-- 매트릭스 도구 -->
		<link href="../stylesheets/tools/matrix.css" rel="stylesheet" type="text/css" />
		<script src="../javascripts/tools/matrix.js"></script>
	<!-- /매트릭스 도구 -->
	
	<!-- 투표 도구 -->
		<link href="../stylesheets/tools/vote.css" rel="stylesheet" type="text/css" />
		<script src="../javascripts/tools/vote.js"></script>
	<!-- /투표 도구 -->
	
</head>
<body class="meeting" ondragstart="return false" onselectstart="return false">
	<div class="container">
		<div class="title-bar">
			<div class="subject">Weekly Discussion</div>
			<span class="sub-subject">Service Design Meeting</span>
			<div class="result-btn" id="result-btn">회의종료</div>
			<div class="record-btn" id="record-btn" onclick="startRecording();">Record</div>
			<div class="stop-btn" id="stop-btn" onclick="stopRecording();" style="display:none">Stop</div>
			<div class="time">00:00:00 / <%=limit_time%></div>
		</div>
		<div id="white-board" class="white-board">
			<!-- Whiteboard control box -->
			<div class="navbar navbar-fixed-top" style="margin-top:52px">
				<div class="navbar-inner">
					<ul class="nav">
						<li id="btn_show_share_box" style="margin-left: 10px"><a data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Share Box"><img src="/images/whiteboard/btn_share_box.png" width="24" height="24" /></a></li>

						<li class="divider-vertical"></li>

						<li id="btn_drawtool_pen" class="active"><a onclick="switchDrawingTool('pen')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Pen"><img src="/images/whiteboard/btn_drawtool_pen.png" width="24" height="24" /></a></li>
						<li id="btn_drawtool_line"><a onclick="switchDrawingTool('line')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Line"><img src="/images/whiteboard/btn_drawtool_line.png" width="24" height="24" /></a></li>
						<li id="btn_drawtool_rect"><a onclick="switchDrawingTool('rect')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Rectangle"><img src="/images/whiteboard/btn_drawtool_rect.png" width="24" height="24" /></i></a></li>
						<li id="btn_drawtool_ellipse"><a onclick="switchDrawingTool('ellipse')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Ellipse"><img src="/images/whiteboard/btn_drawtool_ellipse.png" width="24" height="24" /></a></li>
						<li id="btn_drawtool_text"><a onclick="switchDrawingTool('text')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Text"><img src="/images/whiteboard/btn_drawtool_text.png" width="24" height="24" /></a></li>
						
						<li class="divider-vertical"></li>

						<li class="dropdown">
						    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						    Fill Color <span id="fillcolor_preview" style=" display:inline-block; width:16px; height:16px; vertical-align:middle; border:1px solid #aaaaaa"></span>
						    <b class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
						    	<li onclick="changeFillColor('rgba(0,0,0,0)')" style="background-image: url('../images/whiteboard/pattern_transparent.png')"><a style="height:20px"></a></li>
						    	<li onclick="changeFillColor('#000000')" style="background-color: #000000"><a style="height:20px"></a></li>
								<li onclick="changeFillColor('#ff0000')" style="background-color: #ff0000"><a style="height:20px"></a></li>
								<li onclick="changeFillColor('#0000ff')" style="background-color: #0000ff"><a style="height:20px"></a></li>
								<li onclick="changeFillColor('#00ff00')" style="background-color: #00ff00"><a style="height:20px"></a></li>
								<li onclick="changeFillColor('#f0f000')" style="background-color: #f0f000"><a style="height:20px"></a></li>
								<li onclick="changeFillColor('#0f0fa0')" style="background-color: #0f0fa0"><a style="height:20px"></a></li>
								<li onclick="changeFillColor('#00f0f0')" style="background-color: #00f0f0"><a style="height:20px"></a></li>
								<li onclick="changeFillColor('#ffffff')" style="background-color: #ffffff"><a style="height:20px"></a></li>
						    </ul>
					  	</li>

					  	<li class="dropdown">
						    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						    Line Color <span id="linecolor_preview" style=" display:inline-block; width:16px; height:16px; vertical-align:middle; border:1px solid #aaaaaa"></span>
						    <b class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
						    	<li onclick="changeLineColor('rgba(0,0,0,0)')" style="background-image: url('../images/whiteboard/pattern_transparent.png')"><a style="height:20px"></a></li>
						    	<li onclick="changeLineColor('#000000')" style="background-color: #000000"><a style="height:20px"></a></li>
								<li onclick="changeLineColor('#ff0000')" style="background-color: #ff0000"><a style="height:20px"></a></li>
								<li onclick="changeLineColor('#0000ff')" style="background-color: #0000ff"><a style="height:20px"></a></li>
								<li onclick="changeLineColor('#00ff00')" style="background-color: #00ff00"><a style="height:20px"></a></li>
								<li onclick="changeLineColor('#f0f000')" style="background-color: #f0f000"><a style="height:20px"></a></li>
								<li onclick="changeLineColor('#0f0fa0')" style="background-color: #0f0fa0"><a style="height:20px"></a></li>
								<li onclick="changeLineColor('#00f0f0')" style="background-color: #00f0f0"><a style="height:20px"></a></li>
								<li onclick="changeLineColor('#ffffff')" style="background-color: #ffffff"><a style="height:20px"></a></li>
						    </ul>
					  	</li>

					  	<li class="dropdown">
						    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						    <span id="linewidth_preview" style="display:inline-block; width:100px; height:1px; background-color:#000000; vertical-align:middle;"></span>&nbsp;<span id="linewidth_text_preview">1px</span>
						    <b class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
						    	<li onclick="changeLineWidth(1)"><a style="height:20px"><span style="display:inline-block; width:100px; height:1px; background-color:#000000; vertical-align:middle;"></span>&nbsp;1px</a></li>
						    	<li onclick="changeLineWidth(2)"><a style="height:20px"><span style="display:inline-block; width:100px; height:2px; background-color:#000000; vertical-align:middle;"></span>&nbsp;2px</a></li>
						    	<li onclick="changeLineWidth(3)"><a style="height:20px"><span style="display:inline-block; width:100px; height:3px; background-color:#000000; vertical-align:middle;"></span>&nbsp;3px</a></li>
						    	<li onclick="changeLineWidth(5)"><a style="height:20px"><span style="display:inline-block; width:100px; height:5px; background-color:#000000; vertical-align:middle;"></span>&nbsp;5px</a></li>
						    	<li onclick="changeLineWidth(8)"><a style="height:20px"><span style="display:inline-block; width:100px; height:8px; background-color:#000000; vertical-align:middle;"></span>&nbsp;8px</a></li>
						    	<li onclick="changeLineWidth(10)"><a style="height:20px"><span style="display:inline-block; width:100px; height:10px; background-color:#000000; vertical-align:middle;"></span>&nbsp;10px</a></li>
						    	<li onclick="changeLineWidth(15)"><a style="height:20px"><span style="display:inline-block; width:100px; height:15px; background-color:#000000; vertical-align:middle;"></span>&nbsp;15px</a></li>
						    	<li onclick="changeLineWidth(20)"><a style="height:20px"><span style="display:inline-block; width:100px; height:20px; background-color:#000000; vertical-align:middle;"></span>&nbsp;20px</a></li>
						    </ul>
					  	</li>

					  	<li class="divider-vertical"></li>

					  	<li>
					  		<!--<span style="display:inline-block; vertical-align:middle; padding-top:6px;">Font</span>-->
						  	<div class="btn-group">
								<button class="btn"><span id="fontfamily_preview" style="font-family:serif; line-height:15px;">Serif</span></button>
								<button class="btn dropdown-toggle" data-toggle="dropdown">
							    	<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
							    	<li><a onclick="changeFontFamily('serif')" style="font-family:serif;">serif</a></li>
							    	<li><a onclick="changeFontFamily('sans-serif')" style="font-family:sans-serif;">sans-serif</a></li>
							    	<li><a onclick="changeFontFamily('cursive')" style="font-family:cursive">cursive</a></li>
							    	<li><a onclick="changeFontFamily('fantasy')" style="font-family:fantasy">fantasy</a></li>
							    	<li><a onclick="changeFontFamily('monospace')" style="font-family:monospace">monospace</a></li>
								</ul>
							</div>
					  	</li>

					  	<li>
					  		<!--<span style="display:inline-block; vertical-align:middle; padding-top:6px;">Font</span>-->
						  	<div class="btn-group">
								<button class="btn"><span id="fontsize_preview">10pt</span></button>
								<button class="btn dropdown-toggle" data-toggle="dropdown">
							    	<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<% for (var i = 6; i < 40; i+=2) { %>
							    		<li><a onclick="changeFontSize(<%=i%>)" style="font-family:serif;"><%=i%>pt</a></li>
							    	<% } %>
								</ul>
							</div>
					  	</li>

						<div class="notice-bar">
							<ul>
								<li class="list">오프닝</li>
								<li class="list">의사결정</li>
								<li class="list">갈등해결</li>
								<li>오프닝</li>
							</ul>
						</div>
					</ul>
				</div>
			</div>
			<div id="whiteboard_control_box">
				<div id="color_selector">
 					<ul id="color_list" style="display:inline">
						
					</ul>
				</div>
			</div>
			
			<!-- /Whiteboard control box -->
			<div id="window_share_box">
				<div id="titlebar">
					<span>
						<img src="" style="width:15px; height:15px; margin-right:15px" />Share Box
					</span>
				</div>
				<div class="content"><div>
					<div>
						<input type="text" id="txt_linktitle" placeholder="링크 제목" />
						<input type="text" id="txt_linkurl" placeholder="링크 주소" />
						<input type="button" value="등록" id="btn_addlink" />
						<ul id="link_list">
						</ul>
					</div>
					<div>
						<form id="uploadForm"
							  enctype="multipart/form-data"
							  action="/lib/upload"
							  method="post">
						  <input type="file" id="uploadFile" name="uploadFile" style="border:1px solid #ababab" />
						  <input type="button" id="btn_uploadFile" value="업로드" />
						</form>
						<ul id="file_list">
						</ul>
					</div>
					
					<div id="section_links">
						<div class="section_title">
							<span class="title_text">Links</span>
							<span class="btn_show_all">모두 보기</span><span class="btn_hide">덜 보기</span>
							<div class="clearboth"></div>
						</div>
						<ul class="list"></ul>
					</div>
					<div id="section_documents">
						<div class="section_title">
							<span class="title_text">Documents</span>
							<span class="btn_show_all">모두 보기</span><span class="btn_hide">덜 보기</span>
							<div class="clearboth"></div>
						</div>
						<ul class="list"></ul>
					</div>
					<div id="section_photos">
						<div class="section_title">
							<span class="title_text">Photos</span>
							<span class="btn_show_all">모두 보기</span><span class="btn_hide">덜 보기</span>
							<div class="clearboth"></div>
						</div>
						<ul class="list"></ul>
					</div>
					<div id="section_movies">
						<div class="section_title">
							<span class="title_text">Movies</span>
							<span class="btn_show_all">모두 보기</span><span class="btn_hide">덜 보기</span>
							<div class="clearboth"></div>
						</div>
						<ul class="list"></ul>
					</div>
					<div id="section_sounds">
						<div class="section_title">
							<span class="title_text">Sounds</span>
							<span class="btn_show_all">모두 보기</span><span class="btn_hide">덜 보기</span>
							<div class="clearboth"></div>
						</div>
						<ul class="list"></ul>
					</div>
					<div id="section_others">
						<div class="section_title">
							<span class="title_text">Others</span>
							<span class="btn_show_all">모두 보기</span><span class="btn_hide">덜 보기</span>
							<div class="clearboth"></div>
						</div>
						<ul class="list"></ul>
					</div>
				</div></div>
			</div>
			
			<canvas id="cv_whiteboard">
				<p>브라우저에서 캔버스 지원이 안 됩니다.</p>
			</canvas>
			
			<div id="drawtext_container">
				<textarea id="inputbox" placeholder="Type here..."></textarea>
			</div>
		</div>
		<div id="btn_rightpanel_toggle" onclick="toggleRightpanel()"></div>
		<div id="rightpanel" class="rightpanel">
			<div class="process-box">
				<div class="rightpanel-title-bar" id="panel_process_title">Process</div>
				<div class="rightpanel-content-box fancy-scrollbar" id="panel_process_container">
					<ul id="process_list" style="margin: 0;">
						<li class="process-unit processing">
							<span>Ice Breaking</span>
							<div class="progress-bar">
								<div class="progress-bar-fill" style="width:70%;"></div>
							</div>
							<div class="time_container"><span class="lead_time">00:00:00</span><span class="limit_time">00:00:00</span></div>
							<div class="clearboth"></div>
							<div class="tool_list_container">
								<ul class="tool_list">
									<li class="item_list" id="btn_list1"></li>
									<li class="item_list" id="btn_list1"></li>
									<li class="item_list" id="btn_list1"></li>
									<li class="item_matrix" id="btn_matrix1"></li>
									<li class="item_mindmap" id="btn_mindmap1"></li>
									<li class="item_postit" id="btn_postit1"></li>
									<li class="item_vote" id="btn_vote1"></li>
								</ul>
							</div>
						</li>
						<li class="process-unit">
							<span>Weekly Review</span>
							<div class="progress-bar">
								<div class="progress-bar-fill" style="width:0%;"></div>
							</div>
							<div class="time_container"><span class="lead_time">00:00:00</span><span class="limit_time">00:00:00</span></div>
							<div class="clearboth"></div>
						</li>
						<li class="process-unit">
							<span>Clarify Agenda</span>
							<div class="progress-bar">
								<div class="progress-bar-fill" style="width:0%;"></div>
							</div>
							<div class="time_container"><span class="lead_time">00:00:00</span><span class="limit_time">00:00:00</span></div>
							<div class="clearboth"></div>
						</li>
						<li class="process-unit">
							<span>Discussion</span>
							<div class="progress-bar">
								<div class="progress-bar-fill" style="width:0%;"></div>
							</div>
							<div class="time_container"><span class="lead_time">00:00:00</span><span class="limit_time">00:00:00</span></div>
							<div class="clearboth"></div>
						</li>
						<li class="process-unit">
							<span>Burning Issue</span>
							<div class="progress-bar">
								<div class="progress-bar-fill" style="width:0%;"></div>
							</div>
							<div class="time_container"><span class="lead_time">00:00:00</span><span class="limit_time">00:00:00</span></div>
							<div class="clearboth"></div>
						</li>
						<li class="process-unit">
							<span>Review</span>
							<div class="progress-bar">
								<div class="progress-bar-fill" style="width:0%;"></div>
							</div>
							<div class="time_container"><span class="lead_time">00:00:00</span><span class="limit_time">00:00:00</span></div>
							<div class="clearboth"></div>
						</li>
						<li class="process-unit">
							<span>Closing Round</span>
							<div class="progress-bar">
								<div class="progress-bar-fill" style="width:0%;"></div>
							</div>
							<div class="time_container"><span class="lead_time">00:00:00</span><span class="limit_time">00:00:00</span></div>
							<div class="clearboth"></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="tool-box">
				<div class="rightpanel-title-bar" id="panel_addtool_title">Add Tool</div>
				<div class="rightpanel-content-box fancy-scrollbar" id="panel_addtool_container">
					<div class="member-unit" onclick="getToolSource('list', initList, true);">list</div>
					<div class="member-unit" onclick="getToolSource('mindmap', initMindmap, true);">mindmap</div>
					<div class="member-unit" onclick="getToolSource('postit', initPostit, true);">postit</div>
					<div class="member-unit" onclick="getToolSource('matrix', initMatrix, true);">matrix</div>
					<div class="member-unit" onclick="getToolSource('vote', initVote, true);">vote</div>
				</div>
			</div>
			<div class="member-box">
				<div class="rightpanel-title-bar" id="panel_member_title">Memeber 4/6</div>
				<div class="rightpanel-content-box fancy-scrollbar" id="panel_member_container">
					<div class="member-unit client-1">■ Jonghyuk Lim</div>
					<div class="member-unit client-2">■ Julian De Maestri</div>
					<div class="member-unit client-3">■ scvjeong</div>
					<div class="member-unit client-4">■ Donghyun Go</div>
					<div class="member-unit">■ Irene White</div>
					<div class="member-unit">■ Vincent Monaco</div>
				</div>
			</div>
			<div class="facilitator-box">
				<div class="rightpanel-title-bar" id="panel_facilitator_title">Facilitator</div>
				<div class="rightpanel-content-box fancy-scrollbar" id="panel_facilitator_container">
				</div>
			</div>
		</div>		
	</div>
	<div id="splashpopup_wrapper"></div>
<!--============================= /Page Body ================================-->
	
  <!-- Bootstrap Components -->
  <script src="/javascripts/bootstrap.min.js"></script>


  <!-- Theme Scripts -->
  <script src="/javascripts/ohcastra.js"></script>
  <script src="/javascripts/application.js"></script>

	<!-- Flot Plotting -->
	<script src="/javascripts/libs/flot/excanvas.min.js"></script>
	<script src="/javascripts/libs/flot/jquery.flot.js"></script>
	<!-- REQUIRED: Flot Chart Engine -->
	<script src="/javascripts/libs/flot/jquery.flot.cust.min.js"></script>			
	<script src="/javascripts/libs/flot/jquery.flot.resize.min.js"></script>		
	<script src="/javascripts/libs/flot/jquery.flot.tooltip.min.js"></script>		
	<script src="/javascripts/libs/flot/jquery.flot.orderBar.min.js"></script>	
	<script src="/javascripts/libs/flot/jquery.flot.fillbetween.min.js"></script>	
	<script src="/javascripts/libs/flot/jquery.flot.pie.min.js"></script>

  <!-- Google Code Prettyfy - source-code highlighter -->
  <script src="/javascripts/libs/google-code-prettify/prettify.js"></script>

  <!-- jQuery Table Sorter Plugin -->
  <script src="/javascripts/libs/jquery.tablesorter/jquery.tablesorter.min.js"></script>

  <!-- html2canvas Plugin -->
  <script src="/javascripts/html2canvas.js"></script>
  
  <script src="/javascripts/recorder.js"></script>

<script src="/javascripts/libs/jquery.pageslide/jquery.pageslide.min.js"></script>

  <!-- Demo Charts
  <script src="/javascripts/demo-area-chart.js"></script>
  <script src="/javascripts/demo-dynamic-chart.js"></script>
  <script src="/javascripts/demo-pie-chart.js"></script>
   -->

	<!-- REQUIRED: Functional Widgets -->
	<script src="/javascripts/jarvis.widget.min.js"></script>
	<script src="/javascripts/mobiledevices.min.js"></script>
	<!-- DISABLED (only needed for IE7 <script src="js/include/json2.js"></script> -->
	<!-- REQUIRED: Full Calendar -->
	<script src="/javascripts/jquery.fullcalendar.min.js"></script>	
	<!-- REQUIRED: Bootstrap Prompt -->
	<script src="/javascripts/bootbox.min.js"></script>
	<!-- REQUIRED: Bootstrap Wizard -->
	<script src="/javascripts/bootstrap.wizard.min.js"></script>
	<!-- REQUIRED: Bootstrap Timepicker -->
	<script src="/javascripts/bootstrap.timepicker.min.js"></script>
	
	<script src="/javascripts/orchestra.js"></script>
	<script src="/javascripts/config.js"></script>
	<script src="/javascripts/meeting.js"></script>	
	<script>
		var _runTime = <%=t%>;
		var _totalTime = "<%=limit_time%>";	// 회의 전체 시간
		setInterval("showRunTime()", 1000);
		$(function(){
			$(".process-unit").hover(function(){
				
				$(this).addClass("processing");
			}, function(){
				$(this).removeClass("processing");
			})
		});
	</script>
<!-- /Javascript -->

</body>
</html>
