<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Orchestra</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" href="/stylesheets/font.css" />
	<link rel="stylesheet" href="/stylesheets/orchestra.css" />
	<link rel="stylesheet" href="/stylesheets/fullcalendar.css">
	<link rel="stylesheet" href="/stylesheets/datepicker.css">
	<link rel="stylesheet" href="/stylesheets/select2.css">
	<link rel="stylesheet" href="/stylesheets/theme.css">
	<link rel="stylesheet" href="../javascripts/jqwidgets/styles/jqx.base.css" type="text/css" />
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
</head>

<body>
<!--============================= Page Body =================================-->

<div id="topbar">
	<div class="topbar-container">
		<div id="logo">orchestra</div>
		<span id="group-title"><%= result.group_info[0].name %></span>
		<div id="top-menu">
			<ul>
				<li><a href="/page/group_select">GROUP</li>
				<li><a href="javascript:myAccount();">MY ACCOUNT</a></li>
				<li>LOG OUT</li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div id="menu">
		<ul>
			<li id="start-btn">
				<div class="make">START</div>
				<div class="tool list">
					LIST
				</div>
				<div class="tool postit">
					POSTIT
				</div>
				<div class="tool mindmap">MindMap</div>
				<div class="tool matrix">Matrix</div>
				<div class="tool vote">Vote</div>
			</li>
			<li id="meeting-list-btn" onclick="showMeetingList()">MEETING<br>LIST</li>
			<li id="group-info-btn" onclick="showGroupInfo()">GROUP<br>INFO</li>
			<li id="need-any-help-btn" onclick="showNeedHelp()">NEED<br>ANY<br>HELP</li>
		</ul>
	</div>
	<div id="meeting-list-page" class="page">
		<div id="meeting-calendar">
		</div>
		<div id="meeting-list" class="fancy-scrollbar">
			<ul class="meeting-list-main">
				<% 
					for(var i=0; i<result.meeting_list.length; i++) {
						var idx = result.meeting_list[i].idx_meeting;
				%>
						<li class="meeting-node" idx="<%= idx %>" status="<%=result.meeting_list[i].status%>">
							<div class="color-bar back-color-<%=i+1%>"></div>
							<ul>
								<li class="subject"><%= result.meeting_list[i].subject %></li>
								<li class="date color-<%=i+1%>"><%= result.meeting_list[i].date.toDateString() %> <%= result.meeting_list[i].start_time %></li>
								<li class="time"><%= result.meeting_list[i].start_time %> ~ <%= result.meeting_list[i].end_time %></li>
								<li><%=result.meeting_list[i].status%></li>
								<li class="member">
									<%
										var len = result.meeting_user[idx].length;
										for(var j=0; j<len; j++) {
											var name = result.meeting_user[idx][j].first_name + result.meeting_user[idx][j].last_name;
											if( len === (j+1) ) {
											%>
												<span><%= name.trim() %></span>
											<%
											} else {
											%>
												<span><%= name.trim() %>,</span>
											<%	
											}
										}
									%>
								</li>
							</ul>
						</li>
				<% } %>
			</ul>		
		</div>
	</div>
	<div id="group-info-page" class="page">
		<div id="group-info">
			<div class="sub-title">The number of meeting</div>
			<div id="group-info-chart" class="group-info-chart"></div>
			<div class="sub-title">Group Info</div>
			<ul>
				<li>
					<div class="list-title">Total meeting count</div>
					<div>58</div>
				</li>
				<li>
					<div class="list-title">Total meeting time</div>
					<div>193 hours</div>
				</li>
				<li>
					<div class="list-title">Average meeting time</div>
					<div>3.4 hours</div>
				</li>
				<li class="top-3">
					<div class="list-title">Top 3 attendance rate</div>
					<div class="list-contents">Micheal Jeong</div>
					<div class="list-contents">Donghyun Go</div>
					<div class="list-contents">Steve Jobs</div>
				</li>
				<li class="top-3">
					<div class="list-title">Top 3 participation rate</div>
					<div class="list-contents">Micheal Jeong</div>
					<div class="list-contents">Brad Pitt</div>
					<div class="list-contents">Chaehyun Baek</div>
				</li>
			</ul>
		</div>
		<div id="group-info-member" class="fancy-scrollbar">
			<div class="meeting-list-btn-wrap">
				<a class="add-member-btn" href="javascript:initAddMemberPopup();">Add Memebers...</a>
			</div>
			<ul class="member-list">
			<% 
				for(var i=0; i<result.group_info.length; i++) {
			%>
				<li title="<%=result.group_info[i].user_name%>" idx="<%=result.group_info[i].idx_user%>">
					<div class="picture"></div>
					<div class="name"><%=result.group_info[i].user_name%>(<%=result.group_info[i].id%>)</div>
				</li>
			<%
				}
			%>
			</ul>
		</div>
	</div>

	
	<div id="need-help-page" class="page">
		<div id="need-help">
			

			<div class="help">
			<div class="service_help">
				<div class="service_intro">	
					<div class="help_title">
						Orchestra
					</div>
					<div class="help_contents">
						Meeting master, Orchestra!
					</div>
				</div><br/>

				<div class="use_help">
					<div class="help_title">
						How to use
					</div>
					<div class="help_contents">
						<div class="quick_start">
							Quick Start
						</div>
						<img src="/images/quick_start.jpg" width="680px" style="margin-bottom:30px;"></img>
						<div class="meeting_planning">
							Meeting Planning
						</div>
						<img src="/images/meeting_planning.jpg" width="680px" style="margin-bottom:30px;"></img>
						<div class="meeting_proceeding">
							Meeting Proceeding
						</div>
						<img src="/images/meeting_proceeding.jpg" width="680px" style="margin-bottom:30px;"></img>
						<div class="meeting_result">
							Meeting Result
						</div>
						<img src="/images/meeting_result.jpg" width="680px" style="margin-bottom:30px;"></img>
					</div>
				</div>
			</div>
		

			<div class="ft_help">
			
				<div class="help_title">
					What's the Facilitation?
				</div>
				<div class="help_contents">
					<div>&nbsp
						Facilitation is any activity that makes tasks for others easy, or tasks that are assisted.
					</div><br/>
				</div>
	
			</div>
		</div>

		<div class="keyboard">
			<div class="help_title">
				Keyboard Shotcuts
			</div>
			<div class="left_page">
				<div class="help_contents">
					<div class="keyboard_short">Member1
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Member2
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Member3
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Member4
						<input type="text" />
					</div>
				</div>
			</div>
			<div class="right_page">
				<div class="help_contents">
					<div class="keyboard_short">List Tool 
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Postit Tool
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Mindmap Tool
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Vote Tool
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Matrix Tool
						<input type="text" />
					</div><br/>
				</div><br/>
			</div>
		</div>

		<div class="about">
			<div class="help_title">Team Members</div>
			<div class="member">
				<div class="member_left_page">
					<div class="member_contents">
						<img src="/images/yonggi.jpg" width="300px"></img>
					</div>
				</div>
				<div class="member_right_page">
					<div class="member_contents">정용기
					</div>
				</div>
			</div><br/>
			<div class="member">
				<div class="member_left_page">
					<div class="member_contents">
						<img src="/images/chicken.jpg" width="300px"></img>
					</div>
				</div>
				<div class="member_right_page">
					<div class="member_contents">임종혁
					</div>
				</div>
			</div><br/>
			<div class="member">
				<div class="member_left_page">
					<div class="member_contents">
						<img src="/images/godong.jpg" width="300px"></img>
					</div>
				</div>
				<div class="member_right_page">
					<div class="member_contents">고동현
					</div>
				</div>
			</div><br/>
			<div class="member">
				<div class="member_left_page">
					<div class="member_contents">
						<img src="/images/chaehyun.jpg" width="300px"></img>
					</div>
				</div>
				<div class="member_right_page">
					<div class="member_contents">백채현
					</div>
				</div>
			</div><br/>
		</div><br/><br/>





		</div>
		<div id="meeting-list" class="fancy-scrollbar">
			<ul class="meeting-list-main">
				<% 
					for(var i=0; i<result.meeting_list.length; i++) {
						var idx = result.meeting_list[i].idx_meeting;
				%>
						<li class="meeting-node" idx="<%= idx %>" status="<%=result.meeting_list[i].status%>">
							<div class="color-bar back-color-<%=i+1%>"></div>
							<ul>
								<li class="subject"><%= result.meeting_list[i].subject %></li>
								<li class="date color-<%=i+1%>"><%= result.meeting_list[i].date.toDateString() %> <%= result.meeting_list[i].start_time %></li>
								<li class="time"><%= result.meeting_list[i].start_time %> ~ <%= result.meeting_list[i].end_time %></li>
								<li><%=result.meeting_list[i].status%></li>
								<li class="member">
									<%
										var len = result.meeting_user[idx].length;
										for(var j=0; j<len; j++) {
											var name = result.meeting_user[idx][j].first_name + result.meeting_user[idx][j].last_name;
											if( len === (j+1) ) {
											%>
												<span><%= name.trim() %></span>
											<%
											} else {
											%>
												<span><%= name.trim() %>,</span>
											<%	
											}
										}
									%>
								</li>
							</ul>
						</li>
				<% } %>
			</ul>		
		</div>
	</div>


</div>
<div id="light-popup">
	<div class="light-popup-header">
		<span class="light-popup-title">Members</span>
		<a href="javascript:initAddMemberPopdown();" class="light-popup-close-btn"><span class="icon-close"></span></a>
	</div>
	<div class="light-popup-body">
		<input id="member" name="member" type="text" autocomplete="off">
		<div class="contents">
			Search for a person in Orchestra by name or email address, or enter an email address to invite someone new.
		</div>
	</div>
</div>
<div id="user-info-popup">
	<div class="user-info-popup-header">
		<div class="user-info-popup-img"></div>
		<span class="user-info-popup-name"></span>
		<span class="user-info-popup-id"></span>
		<span class="user-info-popup-edit">Edit profile info</span>
		<a href="javascript:initUserInfoPopdown();" class="user-info-popup-close-btn"><span class="icon-close"></span></a>
	</div>
	<div class="user-info-popup-body">
		<ul>
			<li class="change-perm">Change permissions</li>
			<li class="view-activity">View Member's Group Activity</li>
			<li class="remove-from-group">Remove From Group</li>
		</ul>
	</div>
</div>
<!--============================= /Page Body ================================-->

	<!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script>window.jQuery.ui || document.write('<script src="/javascripts/jquery.ui.min.js"><\/script>')</script>
    <!-- 3: if jQuery was loaded in compatibility mode, where you have to use the
            long 'jQuery(...)' instead of '$(...)' (Wordpress does this), revert
            to to "classic" jQuery behavior -->
    <script>if ($ === undefined) $ = jQuery</script>
	<!-- /jQuery -->
	<script src="/javascripts/jquery.fullcalendar.min.js"></script>	
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/bootbox.js"></script>
	<script src="/javascripts/bootstrap.wizard.min.js"></script>
	<script src="/javascripts/bootstrap.timepicker.min.js"></script>
	<script src="/javascripts/bootstrap.datepicker.min.js"></script>
	<!-- Flot Plotting -->
	<script src="/javascripts/libs/flot/excanvas.min.js"></script>
	<script src="/javascripts/libs/flot/jquery.flot.js"></script>
	<!-- REQUIRED: Flot Chart Engine -->
	<script src="/javascripts/libs/flot/jquery.flot.tooltip.min.js"></script>		
	<script src="/javascripts/select2.js"></script>
	<script src="/javascripts/jquery.uniform.js"></script>
	<script src="/javascripts/jquery.form.js"></script>
	<script src="/javascripts/orchestra.js"></script>
	<script src="/javascripts/config.js"></script>

	<script type="text/javascript" src="../lib/JS3-0.3.2-min.js"></script>

	<script type="text/javascript" src="../javascripts/jqwidgets/jqxcore.js"></script>
	<script type="text/javascript" src="../javascripts/jqwidgets/jqxwindow.js"></script>
	<script type="text/javascript" src="../javascripts/jqwidgets/jqxbuttons.js"></script>
	<script type="text/javascript" src="../javascripts/jqwidgets/jqxscrollbar.js"></script>
	<script type="text/javascript" src="../javascripts/jqwidgets/jqxpanel.js"></script>
	<script type="text/javascript" src="../javascripts/jqwidgets/jqxtabs.js"></script>
	<script type="text/javascript" src="../javascripts/jqwidgets/jqxcheckbox.js"></script>
	<script type="text/javascript" src="../javascripts/jqwidgets/jqxexpander.js"></script>
	<script type="text/javascript" src="../javascripts/jqwidgets/jqxrating.js"></script>



	<script type="text/javascript">
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		var events = [
		<% 
			var m_idx = 0;
			var m_name = "";
			for(var i=0; i<result.meeting_list.length; i++) {
				var date = new Date(result.meeting_list[i].date);
				if( date != "Invalid Date" && result.meeting_list[i].start_time !=null && result.meeting_list[i].end_time !=null )
				{
					var s_t = result.meeting_list[i].start_time.toString().split(":");
					var e_t = result.meeting_list[i].end_time.toString().split(":");
					var time = date.getTime();
					var start_time = time + (s_t[0]*60*60 + s_t[1]*60 + s_t[2]*1)*1000 - (60*60*9*1000);
					var end_time = time + (e_t[0]*60*60 + e_t[1]*60 + e_t[2]*1)*1000 - (60*60*9*1000);
		%>
					{
						title: '<%=result.meeting_list[i].subject%>',
						start: new Date(<%=start_time%>),
						end: new Date(<%=end_time%>),
						editable: false,
						skinClass: "back-color-<%=i+1%>"
					},
		<%
				}
			}
		%>
		];

		$(document).ready(function(){
			setup_calendar();
			initClickMeeting();
			initColorBar();
			initMeetingListBtn();
			// group-info
			initChart();
		})
		
		function initChart()
		{
			if ($("#group-info-chart").length) {
				var pageviews = [[1, 5], [3, 7], [4, 13], [10, 15], [14, 1], [20, 10], [25, 10], [30, 16]];
				var plot = $.plot($("#group-info-chart"), [{
					data : pageviews,
					label : "The number of meeting "
				}], {
					series : {
						lines : {
							show : true,
							lineWidth : 1,
							fill : true,
							fillColor : {
								colors : [{
									opacity : 0.1
								}, {
									opacity : 0.15
								}]
							}
						},
						points : {
							show : true
						},
						shadowSize : 0
					},
					xaxis : {
						mode : "time",
						tickLength : 10
					},
					yaxes : [{
						max : 20,
						min : 0,
						tickLength : 5
					}],
					grid : {
						hoverable : true,
						clickable : true,
						tickColor : $chrt_border_color,
						borderWidth : 0,
						borderColor : $chrt_border_color,
					},
					tooltip : true,
					tooltipOpts : {
						content : "%s for <b>%x</b> day was <b>%y</b>",
						dateFormat : "%y-%0m-%0d",
						defaultTheme : false
					},
					colors : [$chrt_main, $chrt_second],
					xaxis : {
						ticks : 31,
						tickDecimals : 0
					},
					yaxis : {
						ticks : 10,
						tickDecimals : 0
					},
					legend: {
						position: "ne", 
						margin: [-5, -17]
					}
				});
				
			}
		}
		function showMeetingList()
		{
			$(".page").hide();
			$("#meeting-list-page").show();
		}

		function showGroupInfo()
		{
			$(".page").hide();
			$("#group-info-page").show();
		}

		function showNeedHelp()
		{
			$(".page").hide();
			$("#need-help-page").show();
		}

		function initClickMeeting()
		{
			$("#meeting-list .meeting-node").click(function(){
				var idx = $(this).attr("idx");
				var status = $(this).attr("status");
				if( status === "progress" )
					location.href="/page/meeting?idx_meeting="+idx;
				else if( status === "closed" )
					showMeetingResultWindow();
			});
		}

		function initColorBar()
		{
			var h;
			$(".color-bar").each(function(){
				h = $(this).parent().height();
				$(this).height(h);
			});
		}
		function initMeetingListBtn()
		{
			initStartBtn();
			initAddMemberBtn();
			initSearchMemberBtn();
			initUserInfoBtn();
		}	
		function initStartBtn()
		{	
			$("#start-btn .list").click(function(){
				location.href="/page/meeting?tool=list"
			});
			$("#start-btn .postit").click(function(){
				location.href="/page/meeting?tool=postit"
			});
			$("#start-btn .mindmap").click(function(){
				location.href="/page/meeting?tool=mindmap"
			});
			$("#start-btn .matrix").click(function(){
				location.href="/page/meeting?tool=matrix"
			});
			$("#start-btn .vote").click(function(){
				location.href="/page/meeting?tool=vote"
			});
			initStartBtnMouseOver();
			initStartBtnMouseOut();
		};
		function initStartBtnMouseOver()
		{
			$("#start-btn").mouseover(function(e){
				$(this).unbind("mouseover");
				$(".make", this).html("MAKE");
				$(this).animate({
					width: '640'
				}, 500, function(){
					initStartBtnMouseOver();
				});
			})
		}
		function initStartBtnMouseOut()
		{
			$("#start-btn").mouseout(function(e){
				var o = $(this).offset();
				var w = $(this).width();
				var h = $(this).height();
				var b = (o.top >= e.clientY || (h+o.top) <= e.clientY);
				var b2 = (o.left >= e.clientX || (w+10) <= e.clientX);
				if( b || b2 )
				{
					$(this).unbind("mouseout");
					$(".make", this).html("START");
					$(this).animate({
						width: '90'
					}, 640, function(){
						initStartBtnMouseOut();
					});
				}
			});
		}
		var _search_member_flag = false;
		function initSearchMemberBtn()
		{
			var cb = function(t, val)
			{
				if( $(t).val() === val )
				{
					if( _search_member_flag )
					{
						_search_member_flag = false;
						searchMember(val);
					}
				}
			}

			$("input[name=member]").keyup(function(){
				var val = $(this).val();
				_search_member_flag = true;
				window.setTimeout(cb, 500, this, val)
			});
		}
		function searchMember(user_id)
		{
			var html = "";
			if( user_id.length > 0 )
			{
				$.ajax({
					url: '/page/search_user',
					type: 'POST',
					data: {user_id:user_id},
					dataType: 'json',
					success: function(json) {
						if( json.length > 0 )
						{
							var id_name;
							var id_name_html;
							html += '<div class="contents-title">Select to add.</div>';
							html += '<ul class="search-user-list fancy-scrollbar">';
							for(var i=0; i<json.length; i++)
							{
								id_name_html = '<span class="user_id">'+json[i].id+'</span>';
								if( json[i].last_name.length < 1 )
									id_name_html += '<span class="user_name">('+json[i].first_name.trim()+')</span>';
								else
									id_name_html += '<span class="user_name">('+json[i].first_name.trim()+' '+json[i].last_name.trim()+')</span>';
								id_name = json[i].id+'('+json[i].first_name+' '+json[i].last_name+')';
								html += '<li class="searched-user-node" idx="'+json[i].idx+'" title="'+id_name+'">'+id_name_html+'</li>';
							}
							html += '</ul>';
						}
						else
							html = '<div class="no-result">No results</div>';
						$("#light-popup .contents").html(html);
						$("#light-popup .searched-user-node").on("click", function(){
							var idx_user = $(this).attr("idx");
							var user_id = $(".user_id", this).html();
							var user_name = $(".user_name", this).html();
							addMember(idx_user, user_id, user_name);
						});
					}
				});
			}
			else
			{
				html = '<div class="no-result">No results</div>';
				$("#light-popup .contents").html(html);
			}
		}
		function initAddMemberBtn()
		{
			$(".add-member-btn").toggle(
			function(){
				initAddMemberPopup();
			},function(){
				initAddMemberPopdown();
			});
		}
		function initAddMemberPopup()
		{
			var o = $(".add-member-btn").offset();
			var w = $(window).width();
			$("#light-popup").css({
				display:"block",
				top:o.top+35,
				left:o.left
			});
			$("#light-popup #member").focus();
		}
		function initAddMemberPopdown()
		{
			$("#light-popup").css({
				display:"none",
				top:"0px",
				left:"0px"
			});
			$("#light-popup #member").val("");
			$("#light-popup .contents").html("Search for a person in Orchestra by email address, or enter an email address to invite someone new.");
		}
		function addMember(idx_user, user_id, user_name)
		{
			user_name = user_name.replace("(","").replace(")","")
			var params = { 
				idx_user:idx_user, 
				user_name:user_name 
			};
			var html;
			$.ajax({
				url: '/page/add_user',
				type: 'POST',
				data: params,
				dataType: 'json',
				success: function(json) {
					if( json.result == "successful" )
					{
						html = '<li title="'+user_name+'" idx="'+idx_user+'">';
						html += '<div class="picture"></div>';
						html += '<div class="name">'+user_name+' ('+user_id+')</div>';
						html += '</li>';
						$("#group-info-member .member-list").append(html);
						$("#group-info-member .member-list li[idx="+idx_user+"]").toggle(
						function(){
							initUserInfoPopup($(this));
						},function(){
							initUserInfoPopdown($(this));
						});
					}
					initAddMemberPopdown();
				}
			});
		}

		function initUserInfoBtn()
		{
			var idx_user;
			$("#group-info-member .member-list li").toggle(
			function(){
				initUserInfoPopup($(this));
			},function(){
				initUserInfoPopdown($(this));
			});
			$("#user-info-popup .change-perm").click(function(){
				alert("Is coming soon.");
			});
			$("#user-info-popup .view-activity").click(function(){
				alert("Is coming soon.");
			});
			$("#user-info-popup .remove-from-group").click(function(){
				var idx_user = $(this).attr("idx");
				removeFromGroup(idx_user);
			});
		}
		function myAccount()
		{
			$.get("/page/user_info",null,function(html){
				dialog = bootbox.dialog(html, [],{
					"header":"Profile"
				});
				$("#user-info .title").click(function(){
					$(this).next().slideToggle();
				});
				dialog.width(760);
				dialog.css({"margin-left":"-380px"});
				initUserInfoChart();
			},"html");
		}
		function initUserInfoPopup(obj)
		{
			var idx_user = obj.attr("idx");
			$.get("/page/user_info?idx="+idx_user,null,function(html){
				dialog = bootbox.dialog(html, [],{
					"header":"Profile"
				});
				$("#user-info .title").click(function(){
					$(this).next().slideToggle();
				});
				dialog.width(760);
				dialog.css({"margin-left":"-380px"});
				initUserInfoChart();
			},"html");

			/*
			var o = obj.offset();
			var w = $(window).width();
			$.ajax({
				url: '/page/user_info',
				type: 'POST',
				data: {idx_user:idx_user},
				dataType: 'json',
				success: function(json) {
					if( json.length > 0 )
					{
						$("#user-info-popup .user-info-popup-img").html(json[0].first_name.toString().substring(0, 1));
						$("#user-info-popup .user-info-popup-name").html(json[0].first_name+" "+json[0].last_name);
						$("#user-info-popup .user-info-popup-id").html(json[0].id);
						$("#user-info-popup .user-info-popup-body li").attr("idx", json[0].idx);
						$("#user-info-popup").css({
							display:"block",
							top:o.top+33,
							left:o.left
						});
					}
				}
			});
			*/
		}
		function initUserInfoPopdown(idx_user)
		{
			$("#user-info-popup").css({
				display:"none",
				top:"0px",
				left:"0px"
			});
		}
		function removeFromGroup(idx_user)
		{
			if( confirm("Are you sure?") )
			{
				$.ajax({
					url: '/page/delete_user',
					type: 'POST',
					data: {idx_user:idx_user},
					dataType: 'json',
					success: function(json) {
						if( json.result == "successful" )
						{
							$("#group-info-member .member-list li[idx="+idx_user+"]").remove();
						}
						initUserInfoPopdown(idx_user);
					}
				});
			}
		}

		function initUserInfoChart()
		{
			if ($("#user-info #meeting-chart").length) {
				var pageviews = [[1, 5], [3, 7], [4, 13], [10, 15], [14, 1], [20, 10], [25, 10], [30, 16]];
				var plot = $.plot($("#user-info #meeting-chart"), [{
					data : pageviews,
					label : "The number of meeting "
				}], {
					series : {
						lines : {
							show : true,
							lineWidth : 1,
							fill : true,
							fillColor : {
								colors : [{
									opacity : 0.1
								}, {
									opacity : 0.15
								}]
							}
						},
						points : {
							show : true
						},
						shadowSize : 0
					},
					xaxis : {
						mode : "time",
						tickLength : 10
					},
					yaxes : [{
						max : 20,
						min : 0,
						tickLength : 5
					}],
					grid : {
						hoverable : true,
						clickable : true,
						tickColor : $chrt_border_color,
						borderWidth : 0,
						borderColor : $chrt_border_color,
					},
					tooltip : true,
					tooltipOpts : {
						content : "%s for <b>%x</b> day was <b>%y</b>",
						dateFormat : "%y-%0m-%0d",
						defaultTheme : false
					},
					colors : [$chrt_main, $chrt_second],
					xaxis : {
						ticks : 31,
						tickDecimals : 0
					},
					yaxis : {
						ticks : 10,
						tickDecimals : 0
					},
					legend: {
						position: "ne", 
						margin: [-5, -17]
					}
				});
				
			}
			if ($("#user-info #attendance-rate-chart").length) {
				var pageviews = [[1, 5], [3, 7], [4, 13], [10, 15], [14, 1], [20, 10], [25, 10], [30, 16]];
				var plot = $.plot($("#user-info #attendance-rate-chart"), [{
					data : pageviews,
					label : "attendance-rate"
				}], {
					series : {
						lines : {
							show : true,
							lineWidth : 1,
							fill : true,
							fillColor : {
								colors : [{
									opacity : 0.1
								}, {
									opacity : 0.15
								}]
							}
						},
						points : {
							show : true
						},
						shadowSize : 0
					},
					xaxis : {
						mode : "time",
						tickLength : 10
					},
					yaxes : [{
						max : 20,
						min : 0,
						tickLength : 5
					}],
					grid : {
						hoverable : true,
						clickable : true,
						tickColor : $chrt_border_color,
						borderWidth : 0,
						borderColor : $chrt_border_color,
					},
					tooltip : true,
					tooltipOpts : {
						content : "%s for <b>%x</b> day was <b>%y</b>",
						dateFormat : "%y-%0m-%0d",
						defaultTheme : false
					},
					colors : [$chrt_main, $chrt_second],
					xaxis : {
						ticks : 31,
						tickDecimals : 0
					},
					yaxis : {
						ticks : 10,
						tickDecimals : 0
					},
					legend: {
						position: "ne", 
						margin: [-5, -17]
					}
				});
				
			}
			if ($("#user-info #participation-rate-chart").length) {
				var pageviews = [[1, 5], [3, 7], [4, 13], [10, 15], [14, 1], [20, 10], [25, 10], [30, 16]];
				var plot = $.plot($("#user-info #participation-rate-chart"), [{
					data : pageviews,
					label : "Participation Rate"
				}], {
					series : {
						lines : {
							show : true,
							lineWidth : 1,
							fill : true,
							fillColor : {
								colors : [{
									opacity : 0.1
								}, {
									opacity : 0.15
								}]
							}
						},
						points : {
							show : true
						},
						shadowSize : 0
					},
					xaxis : {
						mode : "time",
						tickLength : 10
					},
					yaxes : [{
						max : 20,
						min : 0,
						tickLength : 5
					}],
					grid : {
						hoverable : true,
						clickable : true,
						tickColor : $chrt_border_color,
						borderWidth : 0,
						borderColor : $chrt_border_color,
					},
					tooltip : true,
					tooltipOpts : {
						content : "%s for <b>%x</b> day was <b>%y</b>",
						dateFormat : "%y-%0m-%0d",
						defaultTheme : false
					},
					colors : [$chrt_main, $chrt_second],
					xaxis : {
						ticks : 31,
						tickDecimals : 0
					},
					yaxis : {
						ticks : 10,
						tickDecimals : 0
					},
					legend: {
						position: "ne", 
						margin: [-5, -17]
					}
				});
				
			}
			if ($("#user-info #meeting-per-input-word-chart").length) {
				var pageviews = [[1, 5], [3, 7], [4, 13], [10, 15], [14, 1], [20, 10], [25, 10], [30, 16]];
				var plot = $.plot($("#user-info #meeting-per-input-word-chart"), [{
					data : pageviews,
					label : "Meeting Per Input Word "
				}], {
					series : {
						lines : {
							show : true,
							lineWidth : 1,
							fill : true,
							fillColor : {
								colors : [{
									opacity : 0.1
								}, {
									opacity : 0.15
								}]
							}
						},
						points : {
							show : true
						},
						shadowSize : 0
					},
					xaxis : {
						mode : "time",
						tickLength : 10
					},
					yaxes : [{
						max : 20,
						min : 0,
						tickLength : 5
					}],
					grid : {
						hoverable : true,
						clickable : true,
						tickColor : $chrt_border_color,
						borderWidth : 0,
						borderColor : $chrt_border_color,
					},
					tooltip : true,
					tooltipOpts : {
						content : "%s for <b>%x</b> day was <b>%y</b>",
						dateFormat : "%y-%0m-%0d",
						defaultTheme : false
					},
					colors : [$chrt_main, $chrt_second],
					xaxis : {
						ticks : 31,
						tickDecimals : 0
					},
					yaxis : {
						ticks : 10,
						tickDecimals : 0
					},
					legend: {
						position: "ne", 
						margin: [-5, -17]
					}
				});
				
			}
		}
	</script>
<!-- /Javascript -->

</body>
</html>
