<!-- 아젠다 설정 HTML 파일 -->
<form id="wizard-form" class="form-horizontal">
	<div id="setting_agenda_1" class="row-fluid step_show">
		<div class="span12">
			<div class="inner-spacer setting-agenda"> 
				<div id="agenda_step">
					<div class="tab-content">
						<div class="control-group">
							<label class="control-label" for="name">Meeting Subject : </label>
							<div class="controls">
								<input type="text" name="meeting_subject" required="required" class="span6" value="">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lname">Meeting Goal : </label>
							<div class="controls">
								<input type="text" name="meeting_goal" class="span6" value="">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="input01">Meeting Start Time : </label>
							<div class="controls">
								<div class="input-append bootstrap-timepicker-component">
									<input name="meeting_start_time" type="text" class="timepicker-input" value="00:00" />
									<span class="add-on"><i class="cus-clock"></i></span>
								</div>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="input01">Meeting End Time : </label>
							<div class="controls">
								<div class="input-append bootstrap-timepicker-component">
									<input name="meeting_end_time" type="text" class="timepicker-input" value="00:00" />
									<span class="add-on"><i class="cus-clock"></i></span>
								</div>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="multiSelect">An Entry</label>
							<div class="controls">
								<select multiple="multiple" name="tools" class="span6 with-search">
									<option value="Michael Jeong">Michael Jeong</option>
									<option value="godong9">godong9</option>
									<option value="Chicken">Chicken</option>
									<option value="Stuart">Stuart</option>
									<option value="Angelina Jolie">Angelina Jolie</option>
									<option value="Brad Pitt">Brad Pitt</option>
									<option value="Tim Cook">Tim Cook</option>
									<option value="Steve Jobs">Steve Jobs</option>
									<option value="da Vinci">da Vinci</option>
									<option value="Bill Gates">Bill Gates</option>
									<option value="Ellen Page">Ellen Page</option>
									<option value="John Lennon">John Lennon</option>									
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="setting_agenda_2" class="row-fluid step_hidden">
		<div class="span12">
			<div class="inner-spacer setting-agenda"> 
				<div id="meeting-wizard">
					<!-- wizard steps -->
					<ul class="bwizard-steps">
						<% for(var i=0; i<result.length; i++) {%>
							<% 
								if( i == 0 ) 
									active = "class=active";
								else
									active = "";
							%>
								<li <%= active %>>
								<span class="label badge-inverse"><%= result[i].order %></span>
								<a href="#inverse-tab<%= (i+1) %>" data-toggle="tab" id="step-<%= (i+1) %>"><%= result[i].subject %></a>
							</li>
						<% } %>	
					</ul>
					<!-- end wizard steps -->
					<div class="btn-div">
						<a href="javascript:add_process();"><!--button class="btn medium btn-primary"--><i class="cus-add"></i>Process-Add<!--/button--></a>
						<a href="javascript:del_process();"><!--button class="btn medium btn-primary"--><i class="cus-add"></i>Process-Delete<!--/button--></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="setting_agenda_3" class="row-fluid step_hidden">
		<div class="span12">
			<div class="inner-spacer setting-agenda"> 
				<div id="agenda_step">
					<div class="tab-content">
						<% for(var i=0; i<result.length; i++) {%>
							<% 
								if( i == 0 ) 
									active = "active";
								else
									active = "";
								start_time_arr = result[i].start_time.split(":");
								start_time = start_time_arr[0]+":"+start_time_arr[1];
								end_time_arr = result[i].end_time.split(":");
								end_time = end_time_arr[0]+":"+end_time_arr[1];
							%>
							<fieldset class="tab-pane <%= active %>" id="inverse-tab<%= (i+1) %>" idx="<%= (i+1) %>">
								<div class="control-group">
									<label class="control-label" for="name">Agenda Subject : </label>
									<div class="controls">
										<input type="text" name="subject" required="required" class="span6" value="<%= result[i].subject %>">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="lname">Agenda Goal : </label>
									<div class="controls">
										<input type="text" name="goal" class="span6" value="<%= result[i].goal %>">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="input01">Agenda Start Time : </label>
									<div class="controls">
										<div class="input-append bootstrap-timepicker-component">
											<input name="start_time" type="text" class="timepicker-input" value="<%= start_time %>" />
											<span class="add-on"><i class="cus-clock"></i></span>
										</div>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="input01">Agenda End Time : </label>
									<div class="controls">
										<div class="input-append bootstrap-timepicker-component">
											<input name="end_time" type="text" class="timepicker-input" value="<%= end_time %>" />
											<span class="add-on"><i class="cus-clock"></i></span>
										</div>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="multiSelect">Meeting Tools</label>
									<div class="controls">
										<select multiple="multiple" name="tools" class="span6 with-search">
											<option value="list">list</option>
											<option value="mindmap">mindmap</option>
											<option value="postit">postit</option>
											<option value="vote">vote</option>
											<option value="matrix">matrix</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="optionsCheckbox">Meeting Tools</label>
									<div class="controls">
										<label class="checkbox inline"><input type="checkbox" value="list" class="tools"> list</label>
										<label class="checkbox inline"><input type="checkbox" value="mindmap" class="tools"> mindmap</label>
										<label class="checkbox inline"><input type="checkbox" value="postit" class="tools"> postit</label>
										<label class="checkbox inline"><input type="checkbox" value="vote" class="tools"> vote</label>
										<label class="checkbox inline"><input type="checkbox" value="matrix" class="tools"> matrix</label>
									</div>
								</div>
							</fieldset>
						<% } %>	
						<!-- wizard -->
						<!--div class="form-actions wizard">
							<div class="span6 hidden-phone">
								<strong class="" style="margin-right: 5px; line-height: 25px; float:left;">Start</strong>
								<strong class="" style="margin-left: 5px; line-height: 25px;">Finish</strong>
								<div id="bar" class="progress progress-info slim" style="margin-bottom:0;">
									<div class="bar"></div>
								</div>
							</div>

							<div class="span6">
								<ul style="list-style: none;">
									<li class="previous">
										<button class="btn medium btn-danger">
											Previous
										</button>
									</li>
									<li class="next">
										<button class="btn medium btn-primary next">
											Next
										</button>
									</li>
								</ul>
							</div>
						</div-->
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
